
.main-card-wrapper {
    width: 100%;
    max-width: 16rem;
    height: max-content;
}

.playlist-img-container {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.overlap-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: #f8f8f891;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
}

.playlist-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.title-and-menu-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--white-default);
    margin-top: 6px;
}

.playlist-menu-icon {
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.playlist-card-menu-wrapper {
    position: relative;
}

.delete-playlist-wrapper {
    position: absolute;
    top: 1rem;
    left: -8.5rem;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: max-content;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.delete-playlist-wrapper:hover {
    color: var(--danger-color);
}

.playlist-card-icon {
    font-size: 1.1rem;
}